<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="tag-list">
      <div class="inner">
        <div class="tag"><span>#</span>HTML</div>
        <div class="tag"><span>#</span>CSS</div>
        <div class="tag"><span>#</span>JS</div>
        <div class="tag"><span>#</span>REACT</div>
        <div class="tag"><span>#</span>UI/UX</div>
        <div class="tag"><span>#</span>GULP</div>
        <div class="tag"><span>#</span>GPT</div>
        <div class="tag"><span>#</span>SVG</div>
        <div class="tag"><span>#</span>HTML</div>
        <div class="tag"><span>#</span>CSS</div>
        <div class="tag"><span>#</span>JS</div>
        <div class="tag"><span>#</span>REACT</div>
        <div class="tag"><span>#</span>UI/UX</div>
        <div class="tag"><span>#</span>GULP</div>
        <div class="tag"><span>#</span>GPT</div>
        <div class="tag"><span>#</span>SVG</div>
      </div>
    </div>
  </body>
</html>
