<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Word Reveal</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="section">
      <p class="word-reveal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel tempore, corporis delectus labore distinctio porro ducimus debitis placeat dolores excepturi non maxime. Ipsum cupiditate repellendus deleniti accusantium impedit aperiam sapiente?</p>
    </div>
</html>
