.about {
  background-color: #cff665;
  .container {
    background-color: #fff;
    padding-bottom: 70px;
  }
}
.about__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.about__item {
  border: 2.85px solid #cff665;
  border-radius: 28px;
  background: #8f8f8f;
  padding: 48px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
  max-width: 480px;
  position: relative;
}
.about__item--corner-left-up {
  position: absolute;
  top: -1px;
  left: -1px;
}
.about__item--corner-left-down {
  transform: rotate(-90deg);
  position: absolute;
  bottom: -1px;
  left: -1px;
}
.about__item--corner-right-up {
  position: absolute;
  transform: rotate(90deg);
  top: -1px;
  right: -1px;
}
.about__item--corner-right-down {
  position: absolute;
  bottom: -1px;
  transform: rotate(180deg);
  right: -2px;
}

.about__item--title {
}
.about__item--text {
  font: 500 27px / 90% "Helvetica";
  letter-spacing: -0.03em;
  color: #cff665;
}
.about__item--text.en-text {
  font-size: 25px;
}
@media screen and (max-width: 1024px) {
  .about__items {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .about__item {
    max-width: 95%;
    padding: 25px 10px 15px 15px;
    height: 160px;
  }
  .about__item--title img {
    width: 250px;
  }
  .about__item--text {
    font-size: 20px;
  }
  .about .container {
    padding-bottom: 40px;
  }
}
