.festival {
  background-color: #cff665;
  .container {
    background-color: #fff;
    padding-bottom: 70px;
  }
}
.festival__inner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding-bottom: 80px;
}
.festival__inner--title {
}
.festival__inner--descr {
  font: 500 25px / 100% "Helvetica";
  letter-spacing: -0.03em;
  color: #000;
  max-width: 490px;
}
.festival__title img {
  margin: 0 auto;
  display: block;
}
@media screen and (max-width: 1024px) {
  .festival__inner--descr {
    font-size: 18px;
  }
  .festival__inner--title img {
    width: 290px;
  }
  .festival__title img {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .festival__inner {
    flex-direction: column;
    gap: 20px;
  }
  .festival__inner--title {
    margin: 0 auto;
  }
  .festival__inner--descr {
    font-size: 16px;
    padding: 0 10px;
  }
  .festival__title img {
    max-width: 95%;
  }
  .festival {
    .container {
      padding-bottom: 30px;
    }
  }

  .festival__inner {
    padding-bottom: 40px;
  }
}
