@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HELVETICAREGULAR.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HELVETICAMEDIUM.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HELVETICABOLD.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HELVETICABLACK.ttf") format("truetype");
  font-weight: 800;
}
