// Footer
footer {
  position: relative;
  background-color: #cff665;
  .container {
    background-color: #fff;
  }
  display: block;
  img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
