// Footer
footer {
  position: relative;
  background-color: #cff665;
  .container {
    background-color: #fff;
  }
  display: block;
  .footer-corner-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .footer-corner-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .footer-corner-down {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
