// Header
header {
  padding-bottom: 150px;
  position: relative;
  z-index: 3;
}
.navbar {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 100px;
  align-items: center;
  width: 100%;
  max-width: 700px;
}
.menu__item {
}
.menu__item-link {
  font: 700 22px / 80% "Helvetica";
  letter-spacing: -0.1em;

  text-align: center;
  color: #000;
}
.menu__item-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #000;
  transition: width 0.3s ease;
}
.menu__item-link:hover::after {
  width: 0;
}
