.marquee {
  overflow: hidden;
  margin: 20px;
  background: #cff665;
}
.marquee3k__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.marquee3k {
}
.marquee__item {
  display: inline-flex !important;
  gap: 15px;
  img {
    height: 50px;
  }
  justify-content: center;
  align-items: center;

  margin-right: 30px;
}
@media screen and (max-width: 1024px) {
}
