.who {
  margin-top: 20px;
  background-color: #cff665;
}
.who__inner {
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.who__inner--title {
  font: 700 128px / 80% "Helvetica";
  letter-spacing: -0.1em;
  color: #cff665;
  text-shadow: -16px -16px 0 #888, 16px -16px 0 #888, -16px 16px 0 #888,
    16px 16px 0 #888, 0px 16px 0 #888, 16px 0px 0 #888, 0px -16px 0 #888,
    -16px 0px 0 #888;
}
.who__inner--descr {
  font: 500 25px / 100% "Helvetica";
  letter-spacing: -0.03em;
  color: #000;
  max-width: 620px;
}
