.who {
  margin-top: 20px;
  background-color: #cff665;
}
.who__inner {
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.who__inner--title {
  font: 700 128px / 80% "Helvetica";
  letter-spacing: -0.1em;
  color: #cff665;
  text-shadow: -16px -16px 0 #888, 16px -16px 0 #888, -16px 16px 0 #888,
    16px 16px 0 #888, 0px 16px 0 #888, 16px 0px 0 #888, 0px -16px 0 #888,
    -16px 0px 0 #888;
}
.who__inner--descr {
  font: 500 25px / 100% "Helvetica";
  letter-spacing: -0.03em;
  color: #000;
  max-width: 620px;
}
.who__inner--title-mobile {
  display: none;
}
.festival__inner--title-mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .who__inner--descr {
    font-size: 18px;
  }
  .who__inner--title {
    width: 215px;
  }
}
@media screen and (max-width: 768px) {
  .who__inner {
    flex-direction: column;
  }
  .who__inner--title {
    margin: 0 auto;
    padding-bottom: 20px;
    width: 400px;
  }
  .who__inner--descr {
    font-size: 16px;
    padding: 0 10px;
  }
  .who__inner--title-mobile {
    display: block;
  }
  .who__inner--title-pc {
    display: none;
  }
  .festival__inner--title-mobile {
    display: block;
  }
  .festival__inner--title-pc {
    display: none;
  }
  .festival__inner--title-mobile {
    display: block;
  }
}
