.why {
  background-color: #cff665;
  .container {
    background-color: #fff;
  }
}
.why__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 80px;
}
.why__left {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}
.why__left--img,
.why__right--img {
  position: absolute;
  top: 20px;
  z-index: 1;
  right: 25px;
}
.why__left__for {
  border-radius: 28px;
  background: #8f8f8f;
  padding: 24px 30px 24px 17px;
  position: relative;
  border: 2.85px solid #cff665;
}

.why__left__for-corner-left-up {
  left: -3px;
  top: -1px;
  position: absolute;
}
.why__left__for-corner-left-down {
  transform: rotate(-90deg);
  left: -2px;
  bottom: -1px;
  position: absolute;
}
.why__right--title.en-text {
  padding-bottom: 8px;
}
.why__left__for-corner-right-up {
  transform: rotate(90deg);
  right: -1px;
  top: -2px;
  position: absolute;
}
.why__left__for-corner-right-down {
  right: -1px;
  bottom: -2px;
  position: absolute;
  transform: rotate(180deg);
}

.why__left__for--title {
  padding-bottom: 24px;
}
.why__left__for--list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.why__left__for--list-item {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  img {
    padding-top: 5px;
  }
}
.why__left__for--list-item-text {
  font: 500 19px / 100% "Helvetica";
  letter-spacing: -0.03em;
  color: #cff665;
}
.why__left__info {
  border: 2.82px solid #8f8f8f;
  border-radius: 28px;
  backdrop-filter: blur(34.351219177246094px);
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
  padding: 27px 38px 22px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 2;
}
.why__left__info--line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 162px;
  object-fit: cover;
  z-index: 1;
}
.why__left__info--text {
  font: 700 19px / 100% "Helvetica";
  letter-spacing: -0.03em;
  color: #8f8f8f;
}
.why__right {
  max-width: 480px;
  border-radius: 28px;
  background: #8f8f8f;
  padding: 24px 34px 45px 33px;
  position: relative;
  border: 2.85px solid #cff665;
  height: 594px;
}
.why__right--title {
  padding-bottom: 24px;
}
.why__right--list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.why__right--list-item {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  img {
    padding-top: 3px;
  }
}
.why__right--list-item-text {
  font: 500 19px / 100% "Helvetica";
  letter-spacing: -0.03em;
  color: #cff665;
}
.why__left__info-mobile,
.why__left__info--line-mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .why__inner {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .why {
    margin: 10px;
  }
  .why__left {
    max-width: 95%;
  }
  .why__left__for {
    width: 100%;
  }
  .why__left__for--title {
    img {
      width: 190px;
    }
  }
  .why__left--img {
    width: 50px;
  }
  .why__left__for--list-item-text {
    font-size: 14px;
  }
  .why__left__for--list-item,
  .why__right--list-item {
    img {
      width: 10px;
      height: 13px;
      padding-top: 2px;
    }
  }
  .why__left__info--text {
    font-size: 14px;
  }
  .why__left__info--line {
    width: 100%;
    height: 150px;
  }
  .why__left__for {
    padding: 24px 15px 15px 15px;
  }
  .why__left__info {
    padding: 20px 35px 20px 15px;
  }
  .why__right {
    padding: 24px 25px 25px 15px;
    height: fit-content;
  }
  .why__right--title {
    img {
      width: 195px;
    }
  }
  .why__right--img {
    width: 45px;
  }
  .why__right--list-item-text {
    font-size: 14px;
  }
  .why__inner {
    padding-bottom: 40px;
    position: relative;
  }
  .why__left__info-pc,
  .why__left__info--line-pc {
    display: none;
  }
  .why__left__info-mobile,
  .why__left__info--line-mobile {
    display: block;
  }
  .why__left__info--line-mobile {
    height: 115px;
    bottom: 40px;
  }
}
