// Global SCSS-files imports
@import "./vars";
@import "./reset";
@import "./global";
@import "./fonts";
// Sections or Pages SCSS-files imports
@import "./header";
@import "./hero";
@import "./marquee";
@import "./who";
@import "./gallery";
@import "./about";
@import "./festival";
@import "./why";
@import "./map";
@import "./modal";
@import "./footer";

// Libs
// @import './libs/swiper';

// Стили для анимации блоков партнеров
.map__item {
  cursor: pointer;
  transition: all 0.3s ease;

  &-active {
    transform: scale(1.05);
  }
}

.map__item--info {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}
