<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="slide">
        <div class="item" style="background: url(assets/new-york.jpg);">
          <div class="content">
            <div class="name">New York</div>
            <div class="des">The city that never sleeps.</div>
            <button class="see-more-button">Learn more</button>
          </div>
        </div>
        <div class="item" style="background: url(assets/los-angeles.jpg);">
          <div class="content">
            <div class="name">Los Angeles</div>
            <div class="des">City of angeles and entertaiment capital.</div>
            <button class="see-more-button">Learn more</button>
          </div>
        </div>
        <div class="item" style="background: url(assets/chicago.jpg);">
          <div class="content">
            <div class="name">chicago</div>
            <div class="des">The windy city with magnificent architecture.</div>
            <button class="see-more-button">Learn more</button>
          </div>
        </div>
        <div class="item" style="background: url(assets/miami.jpg);">
          <div class="content">
            <div class="name">Miami</div>
            <div class="des">Tropical paradise with vibrant nightlife.</div>
            <button class="see-more-button">Learn more</button>
          </div>
        </div>
        <div class="item" style="background: url(assets/las-vegas.jpg);">
          <div class="content">
            <div class="name">Las Vegas</div>
            <div class="des">Entertaiment capital of the world.</div>
            <button class="see-more-button">Learn more</button>
          </div>
        </div>
        <div class="item" style="background: url(assets/san-francisco.jpg);">
          <div class="content">
            <div class="name">San-Francisco</div>
            <div class="des">Iconic Golden Gate and tech hub.</div>
            <button class="see-more-button">Learn more</button>
          </div>
        </div>
        <div class="item" style="background: url(assets/washington.jpg);">
          <div class="content">
            <div class="name">Washington</div>
            <div class="des">Nation`s capital full of history.</div>
            <button class="see-more-button">Learn more</button>
          </div>
        </div>
        <div class="button">
          <a class="prev"><i class="fa-solid fa-arrow-left"></i></a>
          <a class="next"><i class="fa-solid fa-arrow-right"></i></a>

        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
